_site
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
Gemfile.lock
uml
*.mkv
# hidden files
.*
!.github

# bundler cache
_site
vendor
Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# old versions folders
tabs_