name: 'Automatic build'
on:
  push:
    branches:
      - master
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE

jobs:
  continuous-delivery:

    runs-on: ubuntu-22.04

    env:
      GEMS_PATH: /tmp/bundle

    steps:
      - uses: actions/setup-ruby@v1
      - name: Install tools
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys CC86BB64
          sudo add-apt-repository ppa:rmescandon/yq
          sudo apt update
          sudo snap install yq --channel=v3/stable
          sudo apt install -y default-jre graphviz plantuml

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Bundle Caching
        id: bundle-cache
        uses: actions/cache@v3
        with:
          path: ${{ env.GEMS_PATH }}
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Bundle config
        run: |
          gem install jekyll bundler
          bundle config set --local path ${{ env.GEMS_PATH }}

      - name: Bundle Install
        if: steps.bundle-cache.outputs.cache-hit != 'true'
        run: |
          bundle install


      - name: Bundle Install locally
        if: steps.bundle-cache.outputs.cache-hit == 'true'
        run: |
          bundle install --local

      - name: Check baseurl
        run: |
          baseurl="$(grep '^baseurl:' _config.yml | yq r - baseurl)"
          if [[ -n $baseurl ]]; then
            echo "SPEC_TEST=_site_no_baseurl" >> $GITHUB_ENV
          fi

      - name: Build Site
        run: |
          bash tools/build.sh

          if [[ -n $SPEC_TEST ]]; then
            # Bypass the defects of htmlproofer
            bash tools/build.sh -b "" -d "$SPEC_TEST"
          fi          

      - name: Test Site
        run: |
          # bash tools/test.sh "$SPEC_TEST"

      - name: Deploy
        run: |
          bash tools/deploy.sh
